/* ConnectWords.css */
.word-pairs-container {
    display: flex;
    justify-content: center;
    margin: 50px; /* Adjust the margin as needed */
  }
  
.word-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.connect-word-button {
    margin-bottom: 10px; /* Adjust the margin between words as needed */
    padding: 8px 16px;
    border-radius: 10px;
    box-shadow:0px 4px 14px 0 rgba(0,0,0,0.1);
    border-style: solid;
    border-width: 1px;
    border-color: var(--grey-outline);
    font-weight: bold;
    background-color: #FFFFFF;
    font-size: 36px;
    cursor: pointer;
    margin: 50px;
    text-transform: lowercase;


}  

.clicked {
    /*background-color: #e6f7ff; */
    background-color: var(--main-color);
    border: none;
    color: #FFFFFF;

}

.correct {
    background-color: var(--green-positive);
    border: none;
    color: #FFFFFF;
    position: relative;
}

.correct::before{
    content: url('../images/ph_sparkle-fill.svg');
    position: absolute;
    top: -25px;
    left: -55px;
    width: 20%;
    height: 20%;
}

.correct::after{
    content: url('../images/fluent_sparkle-32-filled.svg');
    position: absolute;
    top: 25px;
    right: -25px;
    width: 20%;
    height: 20%;
}

.wrong {
    background-color: var(--red-negative);
    border: none;
    color: #FFFFFF;
}

.disabled {
    background-color: #EBEBEB;
    color: var(--grey-outline);
    pointer-events: none;
    border:none;
    /*border-style: solid;
    border-width: 1px;
    border-color: var(--grey-outline);*/
    box-shadow: none;

}

.feedback-message {
    font-weight: bold;
    color: #ff0000; 
    padding-top: 50px;
}

.result-container {
    text-align: center;
    margin-top: 50px;
}
  