
.create-sentence {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-head {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bolder;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.correct-sen-container {
    display: none;
}

.correct-sen-container.correct {
    display: none;
}

.correct-sen-container.incorrect {
    display: flex;
}

.correct-sen {
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-weight: bold;
    color: var(--red-negative);
}

.result-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    width: 100%;
}

.result-container.rt {
    border: 4px solid var(--green-positive);
    background-color: transparent;
}

.result-container.rt::before {
    content: url('../images/ph_sparkle-fill.svg');
    position: relative;
    left: -25%;
    width: 5%;
    height: 5%;
}

.result-container.rt::after {
    content: url('../images/fluent_sparkle-32-filled.svg');
    position: relative;
    left: 105%;
    width: 5%;
    height: 5%;
}

.result-container.wr {
    border: 4px solid var(--red-negative);
    background-color: transparent;
}

.result-text {
    background-color: #ffffff; /* HELP: I have to force color here to prevent errorneous color for correct answer */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: x-large;
    font-weight: bold;
}

.result-text.rt {
    color: var(--green-positive);
}

.result-text.wr {
    color: var(--red-negative);
}

.user-sen-container {
    display: flex;
    flex-direction: column;
    border-bottom: 4px solid black;
    min-width:30vw;
}

.user-sen {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3px;
}

.word-button {
    display: block;
    margin: 4px;
    padding: 4px;
    background-color: #ffffff;
    color:black;
    border:none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.word-button:disabled {
    border-color: var(--grey-outline);
    /*color: var(--main-color-disabled);
    background-color: var(--grey-outline);*/
    color: var(--grey-disabled);
    background-color: var(--disabled-button);
}

.word-button:hover {
    border-color: var(--grey-outline);
    color: var(--grey-disabled);
    background-color: #ffffff;
    cursor: pointer;
}

.word-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 2%;
    flex-wrap: wrap;
    padding:5%;
    background-size: contain;
    background-color: var(--main-color);
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 15px;
    width: 90%;
}

.check-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.next-wrap{
    display: flex;
}

/* .chk-button {
    cursor: pointer;
    border-radius: 40px;
    background-color: var(--main-color);
}

.chk-button:disabled {
    background-color: var(--main-color-disabled);
    cursor: not-allowed;
} */

/*
.next-button {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-image 0.3s;
    background-image: url('../images/next.svg');
}

.next-button:disabled {
    background-image: url('../images/next-disabled.svg');
    cursor: not-allowed;
}
*/