.fill-title {
    font-size: 15px;
    margin-top:50px;
    font-family: sans-serif;
}

.fill-input {
    display: inline-block;
    margin-left: 10px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.fill-box {
    margin-top: 150px;
}

.fill-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 100px;
    border-radius: 50%;
     /* Set the height to 100% of the viewport height */
  }

.fill-button {
    display: block;
    height: 60px;
    border-radius: 50%;
    border: none;
}