.main-word {
    color: var(--main-color);
    font-size: 50px;
}



.background{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url("../images/top-right-blob.png"), url("../images/bottom-left-blob.png"), url("../images/top-left-blob.png");
    background-repeat: no-repeat;
    background-position: top right, bottom left, bottom 10em left;
    background-size: auto 50%, 50%, 20%;

}

.new-word-header{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
