.main-word {
    color: var(--main-color);
}



.background{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("../pictures/top-right-blob.png"), url("../pictures/bottom-left-blob.png"), url("../pictures/top-left-blob.png");
    background-repeat: no-repeat;
    background-position: top right, bottom left, top left;
    background-size: contain, contain, contain;

}
