
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.element-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: -150px;
}

.pickword-button-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 20px;
}
  
.color-button {
    width: 150px;
    height: 150px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: var(--main-color);
    border-radius: 16px;
    margin: 8px;
}

.color-button:hover {
    background-color: var(--main-color-light);
}
  
.color-button.correct {
    background-color: var(--green-positive);
    width: 170px;
    height: 170px;
    position: relative;
}

.color-button.correct::before {
    content: url('../images/stars.svg');
    position: absolute;
    top: -10%;
    left: -30%;
    width: 20%;
    height: 20%;
}
  
.color-button.wrong {
    animation: color-change 1s;
    background-color: var(--grey-disabled);
}

@keyframes color-change {
    0% { background-color: var(--main-color); }
    50% { background-color: var(--red-negative); }
    100% { background-color: var(--grey-disabled); }
  }

.color-button.not-chosen {
    background-color: var(--grey-disabled);
}

.color-button.not-correct {
    background-color: var(--grey-disabled);
    cursor: not-allowed;
}
  
.color-button:disabled {
    cursor: not-allowed;
}

.next-button {
    margin-bottom: 28px;
    margin-left: 100px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-image 0.3s;
    background-image: url('../images/next.svg');
}

.next-button:disabled {
    background-image: url('../images/next-disabled.svg');
    cursor: not-allowed;
}
