
h2 {
    color: var(--main-color);
    margin-bottom: 50px;
}

.translate-page {
    text-align: center;
    padding: 20px;
}

.element-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 20px;
}

.answer-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.answer-container.correct {
    border: 4px solid var(--green-positive);
    background-color: transparent;
}

.answer-container.correct::before {
    content: url('../images/threeStars.svg');
    position: absolute;
    top: -50%;
    left: -12%;
    width: 20%;
    height: 20%;
}

.answer-container.correct::after {
    content: url('../images/twoStars.svg');
    position: absolute;
    bottom: 0;
    right: -12%;
    width: 20%;
    height: 20%;
}

.answer-container.wrong {
    border: 4px solid var(--red-negative);
    background-color: transparent;
}

input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: larger;
}

.check-button {
    cursor: pointer;
    background-color: var(--main-color);
    border: none;
    border-radius: 25px;
    font-size: large;
}

.check-button:disabled {
    background-color: var(--main-color-disabled);
    cursor: not-allowed;
}

.next-button {
    margin-bottom: 28px;
    margin-left: 100px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-image 0.3s;
    background-image: url('../images/next.svg'); 
}

.next-button:disabled {
    background-image: url('../images/next-disabled.svg');
    cursor: not-allowed;
}

.correct-sentence {
    color: var(--main-color-disabled);
}
