.welcome-background {
    /*background-image: url('https://i.imgur.com/aaUK81h.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 95vh;*/
    width: 55vw;
    height: 86vh;
    left: 0;
    top: 0;
    background-image:  url("../images/hellobubble.png"), url("../images/hejbubble.png"), url("../images/welcomeblob.png");
    background-repeat: no-repeat;
    background-position: top 5em right, bottom 5em left, center;
    background-size: 60%, 50%, contain;
    margin: 7vh 5vw 7vh 5vw;
    display: flex;
}

.welcome-area{
    width:25vw;
    margin-left: 10vw;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 40px;
}

.welcome {
    font-size: 50px;
    margin-top: 50px;
    text-align: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 40px;
}

.login-button {
    height: 40px;
    padding: 0 20px;
    background-color: #6A80CF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.placeholder-text {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.main-buttons{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}


.button-group-container {
    display: flex;
    justify-content: center;
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.button-group-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
}

.button-group {
    display: contents;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    position: fixed;
    margin-top: 15;
    left: 0;
    top: 15%; /* Changed from 20% to 15% */
} 

.button {
    font-weight: 5px;
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    background-color: var(--main-color);
    padding: 3rem 3rem;
    box-shadow:0px 4px 14px 0 rgba(0,0,0,0.1);
    border:none;
    border-radius: 20px;
    transition: 1360ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    cursor: pointer;
    margin-top: 5vh;
}

.btn:hover {
    transition: 1360ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #D8D8D8;
    color: #6a80cf;
    border: solid 2px #6a80cf;
}
