.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home page */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.button-container button {
  margin: 8px; /* Adjust the margin between buttons */
}

/* ConnectWords.css */
.connect-words-container {
  text-align: center;
}

.word-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.swedish-words,
.english-words {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.word.selected {
  background-color: #e6f7ff; /* Highlight selected Swedish word */
}

.word.connected {
  background-color: #e6f7ff; /* Highlight connected English word */
  position: relative;
}

.word.connected::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #333;
  top: 50%;
  left: 0;
}

.line {
  position: absolute;
  height: 2px;
  background-color: #333;
  transform-origin: 0 50%;
}